#contact {
  width: min(90vw, 700px);
  padding: 0 3.75rem 3.75rem 3.75rem;
  border-radius: 4px;
  margin: 2.25rem 0 5.5rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-2);
}

#contact #contact-section-image,
#contact #contact-section-image img {
  width: 191px;
  height: 191px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  align-self: center;
}

#contact #contact-section-image::before {
  content: '';
  width: 4rem;
  height: 1.5rem;
  background-color: var(--green-500);
  position: absolute;
  left: -3.75rem;
  top: 50%;
  z-index: -1;
}

#contact #contact-section-title {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  text-transform: uppercase;
}

#contact #contact-section-title span {
  display: block;
  font-weight: 500;
}

#contact form {
  display: grid;
  grid-template-areas:
    'name name'
    'email email'
    'telephone telephone'
    'message message';
  gap: 1.5rem;
}

#contact form > div:nth-of-type(1) {
  grid-area: name;
}

#contact form > div:nth-of-type(2) {
  grid-area: email;
}

#contact form > div:nth-of-type(3) {
  grid-area: telephone;
}

#contact form > div:nth-of-type(4) {
  grid-area: message;
}

#contact form > button {
  text-transform: uppercase;
  font-weight: 700;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (min-width: 768px) {
  #contact form {
    display: grid;
    grid-template-areas:
      'name name'
      'email telephone'
      'message message';
  }
}
